body {
    background-color: #000;
    background-image: url('img/fire.png');
    padding: 2em;
}
main {
    background-color: #400;
    color: white;
    text-align: center;
    padding: 2em;
    border: 1em outset #300;
    border-radius: 2em;
}
h1 {
    display: block;
    margin: 1em;
    font-size: 1.5em;
}
h1 a {
    font-size: 0.75em;
}
h1 :hover {
    text-decoration: underline;
}
h2 {
    font-size: 1em;
}
h2 :hover {
    text-decoration: underline;
}
h3 {
    font-size: 0.75em
}
h3 :hover {
    text-decoration: underline;
}
a {
    color: white;
    text-decoration: none;
}
details{
    font-size: 1.5em;
}
summary {
    font-size: 1.25em;
}
summary > ul {
    font-size: 0.75em;
}
.num {
    font-size: 1em;
    width: 3.5em;
}
.inline h2, h3{
    display: inline-block;
    margin: 0.75em;
    vertical-align: top;
}
.abil {
    display: inline-block;
}
.abil h1 {
    display: block;
}
.abil h3 {
    display: inline-block;
}
.list{
    display: inline-block;
    vertical-align: top;
}
.list h2, h3 {
    display: block;
}
#embra {
    background-image: url('img/stars.png');
}
#embra main{
    background-color: #004;
    border-color: #003;
}
.cat, .cat div{
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
}
.cat {
    padding: 3em;
}
#fiend {
    background-image: url('img/fiend.png');
}
#fiend div{
    background-color: #611; 
}
#celestial {
    background-image: url('img/celes.png');
}
#celestial div{
    background-color: #960;
}
#undeath {
    background-image: url('img/und.png');
}
#undeath div{
    background-color: #444;
}
#void {
    background-image: url('img/void.png');
}
#void div{
    background-color: #111;
}
#machine {
    background-image: url('img/mach.png');
}
#machine div{
    background-color: #131;
}