body {
    background-color: #400000;
    color: white;
    text-align: center;
}
h1 {
    display: block;
    margin: 1em;
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 0.75em
}
.num {
    font-size: 1em;
    width: 3.5em;
}
.inline h2, h3{
    display: inline-block;
    margin: 0.75em;
    vertical-align: top;
}
.abil {
    display: inline-block;
}
.abil h1 {
    display: block;
}
.abil h3 {
    display: inline-block;
}
.list{
    display: inline-block;
    vertical-align: top;
}
.list h2, h3 {
    display: block;
}